/* FOOTER */
/* FOOTER */
.footer {
  background: #00008B;
  color: white;
  padding: 60px 20px 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 40px;
 } /* equal spacing between


/* Logo at top with spacing */
.footer-logo-box {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo {
  height: 160px;
  margin-top: -40px; /* Moves logo up */
}

/* Box styling */
.footer-box h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}

.footer-box h4 {
  margin: 12px 0 5px;
}

.footer-address, .footer-branch {
  margin-bottom: 18px;
  line-height: 1.6;
}

/* Links */
.footer-box a, .footer-box p {
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
}

.footer-box a:hover {
  text-decoration: underline;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.social {
  font-size: 26px;
  color: white;
  transition: 0.3s;
}

.instagram:hover { color: #E1306C; }
.facebook:hover { color: #1877F2; }
.youtube:hover { color: #FF0000; }
.whatsapp:hover { color: #25D366; }

.social:hover {
  transform: scale(1.2);
}

.footer hr {
  margin-top: 30px;
  border-color: rgba(255,255,255,0.3);
}

.footer-copy {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 600px) {
  .footer-logo {
    height: 120px;
  }
}
